body {
  font-family: sans-serif;
}

.cell {
  position: absolute;
}

.cell.empty {
  background-color: white;
}

.cell.snake {
  background-color: black;
}

.cell.food {
  background-color: red;
}

.container {
  border: 1px solid black;
  position: absolute;
  left: 10px;
  top: 10px;
}

.score {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 100;
  font-family: arial;
  font-size: 16px;
}