body {
  font-family: sans-serif;
}

.grid {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 220px;
  left: 70px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell.snake {
  background-color: black;
}

.cell.food {
  background-color: red;
}
.cell {
  display: flex;
  flex-direction: column;
  min-width: 20px;
  min-height: 20px;
}

.cell.blank {
  background-color: #aaed4c;
}

#main-logo {

}

#phone-background {
  height: 900px;
}

.score {
  font-family: 'VT323', monospace;
  background-color: tomato;
}